@import '~assets/css/bulma-configs';
@import '~assets/css/colors';

html, body {
  background: var(--body-bg-color);
  color: var(--body-fg-color);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;

  small {
    font-size: 0.875rem;
  }
}

p {
  margin-bottom: 50px;
}

h1 {
  font-size: $size-1;
  font-weight: 700;
}

h2 {
  font-size: $size-2;
  font-weight: 700;
}

h3 {
  font-size: $size-3;
  font-weight: 500;
}

h4 {
  font-size: $size-4;
  font-weight: 500;
}

h5 {
  font-size: $size-5;
  font-weight: 500;
}

h6 {
  font-size: $size-6;
  font-weight: 500;
}

.menu-list {
  list-style: none;
}

.gameUIContainer {
  background: $dark_gray;
  color: $white;
  border-radius: 2px;
  box-shadow: 2px 2px 5px 5px $black;

  &.hide {
    opacity: 0 !important;
    display: none !important;
  }
}

