// Import Bulma's core
@import '~bulma/sass/utilities/_all';
@import '~assets/css/functions';
@import '~assets/css/colors';

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

:root {
  --body-bg-color: #f5f5f5;
  --body-fg-color: #1c1c1c;
  --mask-bg-03: rgba(0, 0, 0, 0.03);
  --mask-bg-1: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #2d2d2d;
    --body-fg-color: #f5f5f5;
    --body-gray-color: #ededed;
    --code-bg-color: #1c1c1c;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --body-bg-color: #f5f5f5;
    --body-fg-color: #1c1c1c;
    --body-gray-color: #2d2d2d;
    --code-bg-color: #ededed;
  }
}

$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$title-color: var(--body-fg-color);
$text-strong: var(--body-fg-color);
$link-hover: $primary-darker-10;
$code-background: var(--code-bg-color);
$code: $primary;
$pre-background: var(--code-bg-color);
$pre: var(--body-fg-color);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
  'twitter': (
    $twitter,
    $twitter-invert,
  ),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
