@import "~assets/css/functions";

$primary: #009fff;
$primary-invert: findColorInvert($primary);
$primary-darker-05: darkenHexColor($primary, 0.05);
$primary-darker-10: darkenHexColor($primary, 0.10);

$secondary: #0070ff;
$secondary-invert: findColorInvert($secondary);
$secondary-darker-05: darkenHexColor($secondary, 0.05);
$secondary-darker-10: darkenHexColor($secondary, 0.10);

$tertiary: #00deff;
$tertiary-invert: findColorInvert($tertiary);
$tertiary-darker-05: darkenHexColor($tertiary, 0.05);
$tertiary-darker-10: darkenHexColor($tertiary, 0.10);

$quarternary: #0033b8;
$quarternary-invert: findColorInvert($quarternary);
$quarternary-darker-05: darkenHexColor($quarternary, 0.05);
$quarternary-darker-10: darkenHexColor($quarternary, 0.10);

$quinary: #8ff2ff;
$quinary-invert: findColorInvert($quinary);
$quinary-darker-05: darkenHexColor($quinary, 0.05);
$quinary-darker-10: darkenHexColor($quinary, 0.10);

$black: #1c1c1c;
$white: #f5f5f5;
$gray: #7f7f7f;
$lighter_gray: #ededed;
$pink: #ed38fe;
$red: #ff0092;
$orange: #ff9f00;
$yellow: #ffdb00;
$green: #7ddb3b;
$turquiose: #00ffd5;
$cyan: #009fff;
$blue: #0048ff;
$purple: #6838ff;
$dark_gray: #2d2d2d;
$dark_pink: #b21bc2;
$dark_red: #c50070;
$dark_orange: #b16e00;
$dark_yellow: #b89e00;
$dark_green: #00a725;
$dark_turquiose: #00d8b5;
$dark_cyan: #0070ff;
$dark_blue: #0033b8;
$dark_purple: #4b27bd;

